* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  height: 10vh;
  background: grey;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  height: 10vh;
  background: grey;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  margin: 2rem 0;
}
.content-a {
  background: rgb(143, 217, 33);
  grid-column-start: 2;
  grid-column-end: 4;
}
.content-b {
  background: rgb(8, 98, 8);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.content-c {
  background: rgb(228, 228, 0);
  grid-column-start: 4;
  grid-column-end: 5;
}

@media (min-width: 476px) and (max-width: 768px) {
  .content {
    grid-template-rows: 1fr 1fr 1fr;
  }
  .content-a {
    grid-area: 1 / 1 / 3 / 5;
  }
  .content-b {
    grid-area: 3 / 1 / 4 / 3;
  }
  .content-c {
    grid-area: 3 / 3 / 4 / 5;
  }
}

@media (max-width: 476px) {
  .content {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .content-a {
    grid-area: 1 / 1 / 3 / 2;
  }
  .content-b {
    grid-area: 3 / 1 / 4 / 2;
  }
  .content-c {
    grid-area: 4 / 1 / 5 / 2;
  }
}
