* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    height: 10vh;
    background: #D1D2D4;
}
footer {
    height: 10vh;
    background: #D1D2D4;

}
.parent {
    display: flex;
    height: 100%;
    margin: 2rem 0;
    width: 100%;
}
.content {
    width: 100%;
}
.content-a, .content-b {
    height: 50%;
}
.content-a {
    background: red;
}
.content-b {
    background: orange;
}
.content-c {
    background: yellow;
    width: 400px;
}
@media (max-width: 576px) {
    .parent {
        flex-direction: column;
        height: 100%;
    }
    .content-c {
        width: 100%;
    }
    .content{
        height: 100%;
    }
    .content-c {
        height: 400px;
    }
}
